.bir{
    width: 300px;
    height: 300x;
    border-radius: 10px;
    background-color: darkred;
    margin: auto;
    transition: 2s;
}
.bir:hover{
    border-radius: 100px;
    background-color: red;
    transform: rotate(3600deg);
}
.ikki{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color:rgb(98, 68, 2);
    margin: auto;
    transition: 2s;
}
.ikki:active{
    border-radius: 100px;
    background-color: yellow;
    transform: rotate(3600deg);
}
.uch{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(1, 36, 1);
    margin: auto;
    transition: 2s;
}
.uch:active{
    border-radius: 100px;
    background-color: greenyellow;
    transform: rotate(3600deg);
}
.devor{
    border: solid 2px black;
    width: 500px;
    text-align: center;
    background-color: black;
}